<a href="https://colab.research.google.com/github/itlockit2/Knowledge_Engineering/blob/master/knowledge_engineering7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 스택
나중에 넣은 데이터를 먼저 반환하도록 설계된 메모리 구조로 Last In First Out(LIFO)로 구현

# 스택(Stack) in 파이썬
데이터 입력은 append , 출력은 pop()을 이용

In [1]:
a = [1,2,3,4,5]
a.append(10)
a.append(20)
print(a)
print(a.pop())
print(a.pop())

[1, 2, 3, 4, 5, 10, 20]
20
10

# 큐 (Queue)
먼저 넣은 데이터를 먼저 반환 FIFO(First In First Out)

# 큐(Queue) in 파이썬
데이터 입력은 append()
출력은 pop(0)을 이용

In [2]:
a = [1,2,3,4,5]
a.append(10)
a.append(20)
print(a)
print(a.pop(0))
print(a.pop(0))

[1, 2, 3, 4, 5, 10, 20]
1
2

# 튜플 
값이 변경이 불가능한 배열


선언시 [] 가 아닌 ()를 사용

프로그램을 작동하는 동안 변경되지 않은 데이터를 저장할 때 사용한다 학번, 이름, 우편번호

In [3]:
t = (1,2,3)
print (t+t)
print (t * 3)
len(t)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

3

In [4]:
# Error 발생 값 변경이 불가능하기 때문
t[1] = 5

TypeError: ignored

In [5]:
# 일반정수 튜플이 아니다
t = (1)
# 값이 1개인 튜플을 사용할려면 , 를 붙여야 한다.
t = (1,)

# 집합 (Set)
값을 순서 없이, 중복없이 사용하는 자료형

In [6]:
s = set([3,2,1,1,2,3])
print(s)

# 중복이 불가능하므로 추가가 안된다.
s.add(1)
print(s)

# 1 삭제
s.remove(1)
print(s)

# 1,4,5,6, 추가
s.update([1,4,5,6,7])
print(s)

# 3 삭제
s.discard(3)
print(s)

# 모든 원소 삭제
s.clear()
print(s)

{1, 2, 3}
{1, 2, 3}
{2, 3}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
set()

In [7]:
# 집합의 연산 
s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])

# s1과 s2의 합집합
print(s1.union(s2))
print(s1 | s2)

# s1과 s2의 교집합
print(s1.intersection(s2))
print(s1 & s2)

# s1과 s2의 차집합
print(s1.difference(s2))
print(s1 - s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}

# 사전 (Dictionary)
키(Key)값과 데이터 값(Value)로 맵핑 되어 있는 자료구조

In [8]:
student_info = {20140012:'Sungchul', 20140059:'Jiyong',20140058:'JaeHong'}
student_info[20140012] = 'Janhyeok' 
student_info[20140039] = 'wonchul'
print(student_info)
print(student_info[20140059])

{20140012: 'Janhyeok', 20140059: 'Jiyong', 20140058: 'JaeHong', 20140039: 'wonchul'}
Jiyong

In [9]:
country_code = {}
country_code = {'America' : 1 , "Korea" : 82, "China" : 86, "Japan" : 81}
print(country_code)
# Dictionaty Key Value로 묶은 튜플을 반환한다.
print(country_code.items())
# 키 값만 출력
print(country_code.keys())
# Key - Value 추가
country_code["Gernman"] = 49
print(country_code)
# Value만 출력
print(country_code.values())

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}
dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81)])
dict_keys(['America', 'Korea', 'China', 'Japan'])
{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'Gernman': 49}
dict_values([1, 82, 86, 81, 49])

In [10]:
for k, v in country_code.items():
  print('Key : ', k , " Value : ", v)

Key :  America  Value :  1
Key :  Korea  Value :  82
Key :  China  Value :  86
Key :  Japan  Value :  81
Key :  Gernman  Value :  49

In [11]:
import os
import csv
ROOT_PATH = os.path.join(os.getcwd(),'drive','My Drive','Knowledge_engineering', 'chap_7')

command_data = []
with open(os.path.join(ROOT_PATH,'command_data.csv'),'r') as csvfile:
  csvReader = csv.reader(csvfile, delimiter=',' , quotechar ='"')
  for row in csvReader:
    command_data.append(row)

command_counter = {}
for data in command_data:
  userId = data[1]
  # id가 딕션너리에 이미 등록되어 있으면 카운터 1 추가
  if userId in command_counter.keys():
    command_counter[userId] = command_counter[userId] + 1
  else :
    # 처음 나왔다면 1로 초기화
    command_counter[userId] = 1

# dict를 list로 변경
dictlist = []
for key, value in command_counter.items():
  temp = [key,value]
  dictlist.append(temp)

def getKey(item):
  return item[1]
  
# 정렬
sorted_dict = sorted(dictlist, key=getKey, reverse=True)
# 상위 10개 출력
print(sorted_dict[:10])

[['bookworm', 8500], ['elsa', 7500], ['fillmore', 7394], ['francis', 5978], ['anton_ego', 5819], ['queen_grimhilde', 5000], ['kristoff', 4934], ['brent_mustangburger', 4838], ['emperor_zurg', 4470], ['tarzan', 4193]]

# Collections
List, Tuple, Dict에 대한 Python Built-in 확장 자료 구조(모듈)

```
from collections import deque
from collections import Counter 
from collections import OrderedDict 
from collections import defaultdict 
from collections import namedtuple
```

# Deque
Stack과 Queue를 지원하는 모듈 
list에 비해 효율적인 자료 저장 방식을 지원

In [12]:
from collections import deque

deque_list = deque()
for i in range(5):
  deque_list.append(i)
print(deque_list)

deque_list.appendleft(10)
deque_list.append(20)
print(deque_list)

deque([0, 1, 2, 3, 4])
deque([10, 0, 1, 2, 3, 4, 20])

In [13]:
print("original deque")
print(deque_list)

# 오른쪽으로 회전
print("deque_list.rotate(2)")
deque_list.rotate(2)
print(deque_list)

print("deque_list.rotate(2)")
deque_list.rotate(2)
print(deque_list)

# 5,6,7을 맨뒤에 추가
print("deque_list.extend([5,6,7])")
deque_list.extend([5,6,7])
print(deque_list)

# 1,2,3을 맨앞에 추가
print("deque_list.extendleft([1,2,3])")
deque_list.extendleft([1,2,3])
print(deque_list)

# 거꾸로 출력
print("print(deque(reversed(deque_list)))")
print(deque(reversed(deque_list)))

original deque
deque([10, 0, 1, 2, 3, 4, 20])
deque_list.rotate(2)
deque([4, 20, 10, 0, 1, 2, 3])
deque_list.rotate(2)
deque([2, 3, 4, 20, 10, 0, 1])
deque_list.extend([5,6,7])
deque([2, 3, 4, 20, 10, 0, 1, 5, 6, 7])
deque_list.extendleft([1,2,3])
deque([3, 2, 1, 2, 3, 4, 20, 10, 0, 1, 5, 6, 7])
print(deque(reversed(deque_list)))
deque([7, 6, 5, 1, 0, 10, 20, 4, 3, 2, 1, 2, 3])

# OrderedDict
Dict와 달리, 데이터를 입력한 순서대로 dict를 반환

In [14]:
from collections import OrderedDict
d = OrderedDict()

d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 500

for k,v in d.items():
  print(k,v)

x 100
y 200
z 300
l 500

# defaultDict
Dict type의 값에 기본값을 지정, 신규값 생성시 사용하는 방법

In [15]:
# 기존 딕션너리는 기본값 생성이 불가능하다.
d = dict()
print(d["first"])

KeyError: ignored

In [16]:
from collections import defaultdict
d = defaultdict(object) # Default dictionary 생성
d = defaultdict(lambda : 0) # Default 값을 0으로 설정 
print(d["first"])

0

In [17]:
text = """A press release is the quickest and easiest way to get free publicity. If well written, a press release can result in multiple published articles about your firm and its products. And that can mean new prospects contacting you asking you to sell to them. ....""".lower().split()
print(text)

['a', 'press', 'release', 'is', 'the', 'quickest', 'and', 'easiest', 'way', 'to', 'get', 'free', 'publicity.', 'if', 'well', 'written,', 'a', 'press', 'release', 'can', 'result', 'in', 'multiple', 'published', 'articles', 'about', 'your', 'firm', 'and', 'its', 'products.', 'and', 'that', 'can', 'mean', 'new', 'prospects', 'contacting', 'you', 'asking', 'you', 'to', 'sell', 'to', 'them.', '....']

In [18]:
word_count = defaultdict(object) # Default dictionary를 생성
word_count = defaultdict(lambda : 0) # Default 값을 0으로 설정함

for word in text:
  word_count[word] = word_count[word] + 1

for k, v in OrderedDict(sorted(word_count.items(), key=lambda t:t[1], reverse=True)).items():
  print(k,v)

and 3
to 3
a 2
press 2
release 2
can 2
you 2
is 1
the 1
quickest 1
easiest 1
way 1
get 1
free 1
publicity. 1
if 1
well 1
written, 1
result 1
in 1
multiple 1
published 1
articles 1
about 1
your 1
firm 1
its 1
products. 1
that 1
mean 1
new 1
prospects 1
contacting 1
asking 1
sell 1
them. 1
.... 1

# Counter
Sequence type의 data element들의 개수를 dict 형태로 반환

In [19]:
from collections import Counter
c = Counter('gallahad')
print(c)

Counter({'a': 3, 'l': 2, 'g': 1, 'h': 1, 'd': 1})

In [20]:
c = Counter({'red' : 4, 'blue' : 2})
print(c)
print(list(c.elements()))

c = Counter(cats=4, dogs=8)
print(c)
print(list(c.elements()))

Counter({'red': 4, 'blue': 2})
['red', 'red', 'red', 'red', 'blue', 'blue']
Counter({'dogs': 8, 'cats': 4})
['cats', 'cats', 'cats', 'cats', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs']

In [21]:
# Set 연산을 지원
c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)

print(c - d)
print(c + d)
print(c & d)
print(c | d)

Counter({'a': 3})
Counter({'a': 5, 'b': 4, 'c': 3, 'd': 2})
Counter({'b': 2, 'a': 1})
Counter({'a': 4, 'd': 4, 'c': 3, 'b': 2})

In [22]:
text = """A press release is the quickest and easiest way to get free publicity. If well written, a press release can result in multiple published articles about your firm and its products. And that can mean new prospects contacting you asking you to sell to them. ....""".lower().split()

print(Counter(text))
print(Counter(text)["a"])

Counter({'and': 3, 'to': 3, 'a': 2, 'press': 2, 'release': 2, 'can': 2, 'you': 2, 'is': 1, 'the': 1, 'quickest': 1, 'easiest': 1, 'way': 1, 'get': 1, 'free': 1, 'publicity.': 1, 'if': 1, 'well': 1, 'written,': 1, 'result': 1, 'in': 1, 'multiple': 1, 'published': 1, 'articles': 1, 'about': 1, 'your': 1, 'firm': 1, 'its': 1, 'products.': 1, 'that': 1, 'mean': 1, 'new': 1, 'prospects': 1, 'contacting': 1, 'asking': 1, 'sell': 1, 'them.': 1, '....': 1})
2

# namedtuple
- Tuple 형태로 Data 구조체를 저장하는 방법
- 저장되는 data의 variable을 사전에 지정해서 저장함

In [23]:
from collections import namedtuple

Point = namedtuple('Point', ['x','y'])
p = Point(11, 22)
print(p)
print(p[0] , ' , ', p[1])
x, y = p
print(x, y)
print(p.x + p.y)
p2 = Point(x=111, y=222)
print(p2)

Point(x=11, y=22)
11  ,  22
11 22
33
Point(x=111, y=222)