<a href="https://colab.research.google.com/github/itlockit2/Knowledge_Engineering/blob/master/knowledge_engineering8_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 스타일 코드

In [1]:
# 기존 
colors = ['red', 'blue', 'green', 'yellow']
result = ''
for s in colors:
  result = result + s
print (result)

redbluegreenyellow

In [2]:
# 파이썬 스타일
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

# 왜 Pythonic 하게 코드를 까야하는가?
- 많은 개발자들이 Python 스타일로 코딩한다.
- 코드가 짧아짐 -> 성능 향상
- 씝간지

# Split 함수
말그대로 쪼개는 함수

In [3]:
items = 'zero one two three'
# 빈칸 기준으로 나누기
print(items.split())

example = 'python,jquery,javascript'
# ,를 기준으로 나누기
print(example.split(","))

# 나눈값을 a,b,c 변수에 넣기
a, b, c = example.split(",")

example = 'ie.jnu.edu'
subdomain, domain, tld = example.split('.')
print('subdomain : ', subdomain, ' domain : ', domain, ' tld : ', tld)

['zero', 'one', 'two', 'three']
['python', 'jquery', 'javascript']
subdomain :  ie  domain :  jnu  tld :  edu

# Join함수
예시보면 바로 이해 완료

In [4]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

result = ' '.join(colors)
print(result)

result = ', '.join(colors)
print(result)

result ='-'.join(colors)
print(result)

redbluegreenyellow
red blue green yellow
red, blue, green, yellow
red-blue-green-yellow

# List comprehensions 
리스트를 이용하여 리스트를 만드는 기법
일반적으로 for + append보다 빠르다

In [5]:
#기존 스타일
result = []
for i in range(10):
  result.append(i)
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# 파이썬 스타일
result = [i for i in range(10)]
print(result)

result = [i for i in range(10) if i % 2 == 0]
print(result)

result = sum([i for i in range(10) if i % 2 == 0])
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
20

In [7]:
# 끔찍한 혼종
word_1 = "Hello"
word_2 = "World!"

result = [i+j for i in word_1 for j in word_2]
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'H!', 'eW', 'eo', 'er', 'el', 'ed', 'e!', 'lW', 'lo', 'lr', 'll', 'ld', 'l!', 'lW', 'lo', 'lr', 'll', 'ld', 'l!', 'oW', 'oo', 'or', 'ol', 'od', 'o!']

In [8]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i+j for i in case_1 for j in case_2]
print(result)

# i랑 j랑 같다면 List에 추가하지 않는다.
result = [i+j for i in case_1 for j in case_2 if not(i==j)]
print(result)

result.sort()
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
['AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

In [9]:
words = 'The quick brown fox jumps over the lazy dog'.split()
print(words)

stuff = [[w.upper(), w.lower(),len(w)] for w in words]
print(stuff)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [10]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
# 1차원 배열로 결과가 나온다
result = [i+j for i in case_1 for j in case_2]
print(result)
# 2차원 배열로 결과가 나온다. 
result = [ [i+j for i in case_1] for j in case_2]
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

# Enumerate
List의 element를 추출할 때 번호를 붙여서 추출

In [11]:
for i, v in enumerate(['tic', 'tac', 'toe']):
  print(i,v)

0 tic
1 tac
2 toe

In [12]:
mylist = ['a','b','c','d']
print(list(enumerate(mylist)))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [13]:
# 천천히 따라해보면 이해감
{i:j for i,j in enumerate('Chonnam University is an academic institute located in South Korea.'.split())}

{0: 'Chonnam',
 1: 'University',
 2: 'is',
 3: 'an',
 4: 'academic',
 5: 'institute',
 6: 'located',
 7: 'in',
 8: 'South',
 9: 'Korea.'}

# Zip
두개의 list의 값을 병렬적으로 묶어준다

In [14]:
alist = ['a1','a2','a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist,blist):
  print(a,b)

a1 b1
a2 b2
a3 b3

In [15]:
a,b,c = zip((1,2,3),(10,20,30),(100,200,300))
print(a, b, c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [16]:
[sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))]

[111, 222, 333]

In [17]:
# Enumerate & Zip 혼종
alist = ['a1','a2','a3']
blist = ['b1', 'b2', 'b3']
for i, (a, b) in enumerate(zip(alist,blist)):
  print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

# Lambda
함수 이름 없이 함수 처럼 쓰는 거지같은 익명 함수

In [18]:
# 근본함수
def f(x,y):
  return x+y
print(f(1,4))

5

In [19]:
# 무근본 함수
f = lambda x,y : x + y
print(f(1,4))

5

In [20]:
# 나누기 함수
f = lambda x: x/2
print(f(3))
# 제곱 함수
f = lambda x: x ** 2
print(f(3))
# 1 더하는 함수
print((lambda x: x+1)(5))

1.5
9
6

# Map
Sequence 자료형 각 element에 동일한 function을 적용함

람다와 함께 쓰면 리얼 무근본 절정

In [21]:
ex = [1,2,3,4,5]
f = lambda x: x ** 2
print(list(map(f,ex)))

f = lambda x,y : x+y 
print(list(map(f,ex,ex)))

[1, 4, 9, 16, 25]
[2, 4, 6, 8, 10]

In [22]:
ex = [1,2,3,4,5]
# 짝수는 제곱 나머지는 그대로
list( map(lambda x: x ** 2 if x % 2 == 0 else x, ex))

[1, 4, 3, 16, 5]

# Reduce function
map function과 달리 list에 똑같은 함수를 적용해서 통합

In [23]:
from functools import reduce
'''
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15
map과 비슷하지만 결과값이 다시 입력으로 들어간다.
'''
print(reduce(lambda x,y : x+y, [1,2,3,4,5]))

15

# Asterisk
곱셈, 제곱연산, 가변인자 활용

In [24]:
# 인자를 1개 받고 뒤에는 tuple을 받는다
def asterisk_test(a, *args):
  print(a, args)
  print(type(args))

asterisk_test(1)
asterisk_test(1,2)
asterisk_test(1,2,3,4,5,6)
# 여기서 *은 unpacking 즉 튜플을 없애고 일반 list로 변환시킨다.
asterisk_test(1,*(2,3,4,5,6))
# 튜플을 unpacking 하지않으면 튜플에 튜플이 들어간다.
asterisk_test(1,(2,3,4,5,6))

1 ()
<class 'tuple'>
1 (2,)
<class 'tuple'>
1 (2, 3, 4, 5, 6)
<class 'tuple'>
1 (2, 3, 4, 5, 6)
<class 'tuple'>
1 ((2, 3, 4, 5, 6),)
<class 'tuple'>

In [25]:
# 인자를 1개 받고 뒤에는 dict를 받는다.
def asterisk_test(a, **args):
  print(a, args)
  print(type(args))

asterisk_test(1, b=2, c=3, d=4, e=5, f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

In [26]:
a, b, c = ([1,2], [3,4], [5,6])
print(a,b,c)

data = ([1,2],[3,4],[5,6])
print(data)
print(*data)

[1, 2] [3, 4] [5, 6]
([1, 2], [3, 4], [5, 6])
[1, 2] [3, 4] [5, 6]

In [27]:
def asterisk_test(a, b, c, d,): 
  print(a, b, c, d)

data = {"b" : 1, "c" : 2, "d" : 3}
print(data)
print(*data)

asterisk_test(10, *data)
asterisk_test(10, **data)

{'b': 1, 'c': 2, 'd': 3}
b c d
10 b c d
10 1 2 3

# 벡터 (Vector)

In [28]:
# 이런 코드는 파이썬 답지 못하다고 함
u = [2,2]
v = [2,3]
z = [3,5]
result = []
for i in range(len(u)):
  result.append(u[i] + v[i] + z[i])

print(result)

[7, 10]

In [29]:
u = [2,2]
v = [2,3]
z = [3,5]
result = [sum(t) for t in zip(u,v,z)]
print(result)

[7, 10]

In [30]:
# Scalar-Vector product
u = [1,2,3]
v = [4,4,4]
alpha = 2

result = [alpha * sum(t) for t in zip(u,v,z)]
print(result)

[16, 22]

# 행렬 (Matrix)

In [31]:
matrix_a = [[3,6],[4,5]]
matrix_b = [[5,8],[6,7]]

for t in zip(matrix_a, matrix_b):
  print('t : ', t)
  print('*t : ', *t)
  for row in zip(*t):
    print('row : ', row)
    print('sum(row) : ', sum(row))

print()
result = [[sum(row) for row in zip(*t)] for t in zip(matrix_a, matrix_b)]

print(result)

t :  ([3, 6], [5, 8])
*t :  [3, 6] [5, 8]
row :  (3, 5)
sum(row) :  8
row :  (6, 8)
sum(row) :  14
t :  ([4, 5], [6, 7])
*t :  [4, 5] [6, 7]
row :  (4, 6)
sum(row) :  10
row :  (5, 7)
sum(row) :  12

[[8, 14], [10, 12]]

In [32]:
# Scalar-Matrix Product
matrix_a = [[3,6],[4,5]]
alpha = 4

for t in matrix_a:
  print(t)

print()
result = [[alpha * element for element in t] for t in matrix_a]
print(result)

[3, 6]
[4, 5]

[[12, 24], [16, 20]]

In [33]:
# Matrix Transpose
matrix_a = [[1, 2, 3], [4, 5, 6]]
print('*matrix_a : ', *matrix_a)

for t in zip(*matrix_a):
  print(t)

result = [[element for element in t] for t in zip(*matrix_a)] 
print (result)

*matrix_a :  [1, 2, 3] [4, 5, 6]
(1, 4)
(2, 5)
(3, 6)
[[1, 4], [2, 5], [3, 6]]

In [35]:
# Matrix Product
# 무조건 나올듯 느낌이
matrix_a = [[1,1,2],[2,1,1]]
matrix_b = [[1,1],[2,1],[1,3]]


print('*matrix_b : ', *matrix_b)
print('zip(*matrix_b) : ', list(zip(*matrix_b)))

for row_a in matrix_a:
  print('row_a : ', row_a)
  for column_b in zip(*matrix_b):
    print('column_b : ', column_b)
    print('zip(row_a, column_b) : ', list(zip(row_a, column_b)))
    for a,b in zip(row_a, column_b):
      print(a * b)

# [(1, 2, 1), (1, 1, 3)]
part_a = [column_b for column_b in zip(*matrix_b)]
print('part_a : ', part_a)

row_a = [1,1,2]
column_b = [1,2,1]

# [(1, 1), (1, 2), (2, 1)]
print('zip(row_a, column_b)', list(zip(row_a,column_b)))

# [1,2,2]
part_b = [ a*b for a,b in zip(row_a,column_b)]
print('part_b : ' ,part_b)

# [5]
part_c = [[sum(a*b for a,b in zip(row_a,column_b))]]
print('part_c : ', part_c)

# [[5,8], [5,6]]
result = [[sum( a*b for a,b in zip(row_a,column_b) )  for column_b in zip(*matrix_b)] for row_a in matrix_a]

print(result)

*matrix_b :  [1, 1] [2, 1] [1, 3]
zip(*matrix_b) :  [(1, 2, 1), (1, 1, 3)]
row_a :  [1, 1, 2]
column_b :  (1, 2, 1)
zip(row_a, column_b) :  [(1, 1), (1, 2), (2, 1)]
1
2
2
column_b :  (1, 1, 3)
zip(row_a, column_b) :  [(1, 1), (1, 1), (2, 3)]
1
1
6
row_a :  [2, 1, 1]
column_b :  (1, 2, 1)
zip(row_a, column_b) :  [(2, 1), (1, 2), (1, 1)]
2
2
1
column_b :  (1, 1, 3)
zip(row_a, column_b) :  [(2, 1), (1, 1), (1, 3)]
2
1
3
part_a :  [(1, 2, 1), (1, 1, 3)]
zip(row_a, column_b) [(1, 1), (1, 2), (2, 1)]
part_b :  [1, 2, 2]
part_c :  [[5]]
[[5, 8], [5, 6]]